COMPOSE_PROJECT_NAME=pulsix
TZ=Asia/Shanghai
PULSIX_NETWORK_NAME=pulsix

MYSQL_IMAGE=mysql:8.4.8
MYSQL_PORT=3306
MYSQL_DATABASE=pulsix
MYSQL_USER=pulsix
MYSQL_PASSWORD=pulsix_123
MYSQL_ROOT_PASSWORD=pulsix_root_123
MYSQL_CHARACTER_SET=utf8mb4
MYSQL_COLLATION=utf8mb4_0900_ai_ci

REDIS_IMAGE=redis:7.4.7
REDIS_PORT=6379
REDIS_PASSWORD=pulsix_redis_123

KAFKA_IMAGE=apache/kafka:3.9.1
KAFKA_NODE_ID=1
KAFKA_EXTERNAL_HOST=localhost
KAFKA_EXTERNAL_PORT=29092
KAFKA_NUM_PARTITIONS=1
KAFKA_DEFAULT_PARTITIONS=1
KAFKA_DEFAULT_REPLICATION_FACTOR=1
KAFKA_INIT_TOPIC_SPECS=pulsix.event.standard:6:1,pulsix.decision.result:3:1,pulsix.decision.log:3:1,pulsix.engine.error:1:1,pulsix.event.dlq:1:1,pulsix.ingest.error:1:1

DORIS_FE_IMAGE=apache/doris:fe-3.1.4
DORIS_BE_IMAGE=apache/doris:be-3.1.4
DORIS_USER=root
DORIS_PASSWORD=
DORIS_DATABASE=pulsix_olap
DORIS_INIT_MAX_ATTEMPTS=30
DORIS_INIT_RETRY_INTERVAL_SECONDS=5
PULSIX_SUBNET=172.28.0.0/24
DORIS_FE_IP=172.28.0.21
DORIS_FE_ID=1
DORIS_BE_IP=172.28.0.22
DORIS_FE_HTTP_PORT=8030
DORIS_FE_QUERY_PORT=9030
DORIS_BE_HTTP_PORT=8040
DORIS_NOFILE_SOFT=1048576
DORIS_NOFILE_HARD=1048576
